html,
body {
  margin: 0;
  padding: 0; }

.options-btn:before, .options-btn:after {
  content: " ";
  display: table; }

.options-btn:after {
  clear: both; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary,
main {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  padding: 0;
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }
  q:before, q:after {
    content: '';
    content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("../fonts/opensans/open-sans-regular.woff2") format("woff2"), url("../fonts/opensans/open-sans-regular.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/opensans/open-sans-bold.woff2") format("woff2"), url("../fonts/opensans/open-sans-bold.woff") format("woff"); }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5; }

body {
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  font-weight: 700; }

body {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25; }
  @media (min-width: 544px) {
    body {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.375; } }

h1 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.25;
  margin-top: 0.9375em;
  margin-bottom: 0.3125em; }
  @media (min-width: 544px) {
    h1 {
      font-size: 40px;
      font-size: 2.5rem;
      line-height: 1.125; } }
  @media (min-width: 768px) {
    h1 {
      font-size: 48px;
      font-size: 3rem;
      line-height: 1.05; } }
  @media (min-width: 544px) {
    h1 {
      margin-top: 0.825em;
      margin-bottom: 0.275em; } }
  @media (min-width: 768px) {
    h1 {
      margin-top: 0.6875em;
      margin-bottom: 0.22917em; } }

h2 {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 1.15385;
  margin-top: 1.15385em;
  margin-bottom: 0.38462em; }
  @media (min-width: 544px) {
    h2 {
      font-size: 32px;
      font-size: 2rem;
      line-height: 1.25; } }
  @media (min-width: 768px) {
    h2 {
      font-size: 36px;
      font-size: 2.25rem; } }
  @media (min-width: 544px) {
    h2 {
      margin-top: 1.03125em;
      margin-bottom: 0.34375em; } }

h3 {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
  margin-top: 1.36364em;
  margin-bottom: 0.45455em; }
  @media (min-width: 544px) {
    h3 {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1.25; } }
  @media (min-width: 768px) {
    h3 {
      font-size: 28px;
      font-size: 1.75rem; } }
  @media (min-width: 544px) {
    h3 {
      margin-top: 1.375em;
      margin-bottom: 0.45833em; } }

h4 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.11111;
  margin-top: 1.66667em;
  margin-bottom: 0.55556em; }
  @media (min-width: 544px) {
    h4 {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 1.22222; } }
  @media (min-width: 544px) {
    h4 {
      margin-top: 1.83333em;
      margin-bottom: 0.61111em; } }

h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-top: 1.875em;
  margin-bottom: 0.625em; }
  @media (min-width: 544px) {
    h5 {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.375; } }
  @media (min-width: 544px) {
    h5 {
      margin-top: 2.0625em;
      margin-bottom: 0.6875em; } }

h6 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.42857;
  margin-top: 2.14286em;
  margin-bottom: 0.71429em; }
  @media (min-width: 544px) {
    h6 {
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 1.57143; } }
  @media (min-width: 544px) {
    h6 {
      margin-top: 2.35714em;
      margin-bottom: 0.78571em; } }

blockquote, q {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.25; }
  @media (min-width: 544px) {
    blockquote, q {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1.45833; } }

@media print {
  body {
    font-size: 12pt; }
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.25; }
  h1 {
    font-size: 36pt; }
  h2 {
    font-size: 24pt; }
  h3 {
    font-size: 18pt; }
  h4 {
    font-size: 14pt; }
  h5 {
    font-size: 12pt; }
  h6 {
    font-size: 10.5pt; }
  blockquote, q {
    font-size: 24pt;
    line-height: 1.4583; } }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

body {
  background: #ffffff;
  color: #212121; }

a {
  background-color: transparent;
  color: #0088cc;
  text-decoration: none; }
  a:hover, a:focus, a:active {
    color: #006699;
    outline: 0; }

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto; }

input[type='text']:focus::-webkit-input-placeholder,
input[type='tel']:focus::-webkit-input-placeholder,
input[type='email']:focus::-webkit-input-placeholder,
input[type='password']:focus::-webkit-input-placeholder,
input[type='search']:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent !important; }

input[type='text']:focus::-moz-placeholder,
input[type='tel']:focus::-moz-placeholder,
input[type='email']:focus::-moz-placeholder,
input[type='password']:focus::-moz-placeholder,
input[type='search']:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent !important; }

input[type='text']:focus:-moz-placeholder,
input[type='tel']:focus:-moz-placeholder,
input[type='email']:focus:-moz-placeholder,
input[type='password']:focus:-moz-placeholder,
input[type='search']:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent !important; }

input[type='text']:focus:-ms-input-placeholder,
input[type='tel']:focus:-ms-input-placeholder,
input[type='email']:focus:-ms-input-placeholder,
input[type='password']:focus:-ms-input-placeholder,
input[type='search']:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent !important; }

html {
  position: relative;
  min-height: 100%; }
  html body {
    min-height: 1px;
    height: 100%;
    margin-bottom: 0px; }
  @media (min-width: 544px) {
    html body {
      margin-bottom: 0px; } }
  @media (min-width: 768px) {
    html body {
      margin-bottom: 0px; } }
  @media (min-width: 992px) {
    html body {
      margin-bottom: 0px; } }
  @media (min-width: 1200px) {
    html body {
      margin-bottom: 0px; } }

.wrapper {
  width: 100%; }

.dd-wrap {
  position: relative;
  height: 40px;
  display: inline-block;
  padding: 0 38px 0 12.66667px;
  line-height: 38px;
  border-bottom: 2px solid #868788;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .dd-wrap.is-open .dd_arrow-wrap span:nth-child(1) {
    transform: rotate(-45deg); }
  .dd-wrap.is-open .dd_arrow-wrap span:nth-child(2) {
    transform: rotate(45deg); }
  .dd-wrap.is-open .dd-list {
    opacity: 1;
    visibility: visible;
    transform: none; }

.dd_arrow-wrap {
  position: absolute;
  top: 0;
  right: 0;
  height: 38px;
  width: 30px; }
  .dd_arrow-wrap span {
    position: absolute;
    top: 18px;
    width: 16px;
    height: 2px;
    background-color: #868788;
    border-radius: 2px;
    transition: transform .2s ease; }
    .dd_arrow-wrap span:nth-child(1) {
      left: 2px;
      transform: rotate(45deg); }
    .dd_arrow-wrap span:nth-child(2) {
      right: 2px;
      transform: rotate(-45deg); }

.dd_name {
  color: #868788;
  font-size: 14px;
  font-size: 0.875rem; }

.dd-list {
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  z-index: 3;
  min-width: 100%;
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #393e41, #303233);
  color: #868788;
  line-height: 38px;
  list-style-type: none;
  white-space: nowrap;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all .2s ease-in-out; }

.dd-item {
  padding: 0 12.66667px;
  background: linear-gradient(to right, #34393d, #2c2e30);
  cursor: pointer; }
  .dd-item + .dd-item {
    margin-top: 2px; }
  .dd-item:hover {
    background: linear-gradient(to right, #3a3f41, #323435); }

.main-header .dd-wrap {
  float: right;
  margin-right: 20px; }

.user-avatar {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden; }
  .user-avatar:hover .upload {
    opacity: 1; }
  .user-avatar img {
    width: 100px;
    height: auto; }
  .user-avatar .upload {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    opacity: 0;
    transition: opacity .2s ease; }
    .user-avatar .upload-input {
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer; }

.post-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  list-style-type: none; }

.post-item {
  width: 300px;
  margin: 10px;
  background-color: #27292c;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .post-item:hover {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3), 0 8px 10px rgba(0, 0, 0, 0.38); }
    .post-item:hover .post-header {
      background-color: #2c2c2c; }
    .post-item:hover .post-info,
    .post-item:hover .tag-container {
      background: linear-gradient(to right, #34393d, #2c2e30); }
  .post-item.show-more .post-description {
    height: 82px;
    overflow: hidden; }
  .post-item.show-more .btn-show-more {
    display: inline-block; }

.post-header {
  padding: 10px;
  background-color: #232528;
  color: #808080; }

.post-info {
  padding: 10px;
  background: linear-gradient(to right, #2a2f32, #242628);
  color: #a3a4a5; }

.post-actions {
  float: right; }
  .post-actions > span {
    width: 100%;
    padding: 15px;
    cursor: pointer;
    color: #868788;
    background-color: #2d2f31; }
    .post-actions > span:hover {
      background-color: #34393d; }

.post-title {
  display: inline-block;
  margin: 0;
  margin-right: 40px;
  font-size: 18px;
  font-size: 1.125rem; }

.post-description {
  margin: 0;
  font-size: 12px;
  font-size: 0.75rem; }

.post-date {
  margin: 0;
  font-size: 10px;
  font-size: 0.625rem; }

.options-wrap {
  position: relative; }
  .options-wrap:hover .options-list {
    opacity: 1;
    visibility: visible;
    transform: none; }
  .options-wrap .options-list {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-30px);
    position: absolute;
    right: 0;
    top: 0;
    background-color: #34393d;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: .2s ease-in-out; }

.post-item .options-wrap {
  float: right; }

.tag-container {
  background: linear-gradient(to right, #2a2f32, #242628);
  color: #a3a4a5; }

.tag-list {
  padding: 2px;
  margin: 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style-type: none; }

.tag-item {
  height: 16px;
  padding: 0 4px;
  border-radius: 2px;
  margin: 4px;
  background-color: #232528;
  line-height: 16px;
  font-size: 12px;
  font-size: 0.75rem; }

.options-btn {
  padding: 5px;
  display: inline-block;
  cursor: pointer; }
  .options-btn span {
    float: left;
    height: 6px;
    width: 6px;
    background-color: #868788;
    margin: 2px;
    border-radius: 50%; }

.post-description-wrap {
  padding: 10px 0 0; }

.btn-show-more {
  display: none;
  height: 19px;
  padding: 0 8px;
  background-color: #232528;
  line-height: 20px;
  color: #a3a4a5;
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem; }

.post-create {
  color: #fff; }

html, body {
  height: 100%; }

body {
  background-color: #d0d6e2; }

.wrapper {
  display: flex;
  height: 100%;
  background-color: #edeef3;
  box-shadow: 30px 30px 80px rgba(0, 0, 0, 0.3), 20px 20px 42px rgba(0, 0, 0, 0.22); }

.sidebar_wrap {
  flex-shrink: 0;
  width: 220px;
  background-color: #2c2c2c; }

.sidebar .nav-list {
  padding: 0;
  margin: 0;
  margin-top: 40px;
  background: linear-gradient(to right, #393e41, #303233);
  font-family: 'ubuntu light';
  list-style-type: none; }

.sidebar .nav-item {
  background: linear-gradient(to right, #34393d, #2c2e30);
  line-height: 40px;
  padding: 0 15px;
  transition: background .2s ease; }
  .sidebar .nav-item:hover {
    background: linear-gradient(to right, #3a3f41, #323435); }
  .sidebar .nav-item.is-active {
    background: linear-gradient(to right, rgba(0, 136, 204, 0.16), rgba(0, 136, 204, 0.26));
    border-right: 3px solid #0088cc; }
  .sidebar .nav-item + .nav-item {
    margin-top: 2px; }
  .sidebar .nav-item > a {
    color: #868788; }

.main-header {
  flex-shrink: 0;
  height: 40px;
  width: 100%;
  background: #2c2c2c; }

.main_wrap {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #232323; }

.main_view {
  flex-grow: 1;
  padding: 15px;
  box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.2), inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  overflow: auto; }

.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 0px; }
  @media (min-width: 544px) {
    .main-footer .main-footer {
      min-height: 0px; } }
  @media (min-width: 768px) {
    .main-footer .main-footer {
      min-height: 0px; } }
  @media (min-width: 992px) {
    .main-footer .main-footer {
      min-height: 0px; } }
  @media (min-width: 1200px) {
    .main-footer .main-footer {
      min-height: 0px; } }

.hide {
  display: none !important; }
  @media (max-width: 543px) {
    .hide-xs {
      display: none !important; } }
  @media (min-width: 544px) and (max-width: 767px) {
    .hide-s {
      display: none !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .hide-m {
      display: none !important; } }
  @media (min-width: 992px) {
    .hide-l {
      display: none !important; } }

.show {
  display: block !important; }
  .show-xs, .show-s, .show-m, .show-l {
    display: none !important; }
  @media (max-width: 543px) {
    .show-xs {
      display: block !important; } }
  @media (min-width: 544px) and (max-width: 767px) {
    .show-s {
      display: block !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .show-m {
      display: block !important; } }
  @media (min-width: 992px) {
    .show-l {
      display: block !important; } }

.hidden {
  opacity: 0 !important;
  visibility: hidden !important; }

.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

/*# sourceMappingURL=main.css.map */
