<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Post test</title>

    <link type="text/css" rel="stylesheet" href="css/materialize.css"/>
    <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/main.css"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="wrapper">
    <div class="sidebar_wrap">
        <div class="logo"></div>
        <div class="sidebar">
            <ul class="nav-list">
                <li class="nav-item is-active"><a href="#">Some item</a></li>
                <li class="nav-item"><a href="#">Some item</a></li>
                <li class="nav-item"><a href="#">Some item</a></li>
                <li class="nav-item"><a href="#">Some item</a></li>
                <li class="nav-item"><a href="#">Some item</a></li>
                <li class="nav-item"><a href="#">Some item</a></li>
                <li class="nav-item"><a href="#">Some item</a></li>
            </ul>
        </div>
        <div class="search"></div>
    </div>
    <div class="main_wrap">
        <header class="main-header">
            <div class="_dropDown dd-wrap">
                <div class="dd_name">Zmey</div>
                <div class="dd_arrow-wrap">
                    <span></span>
                    <span></span>
                </div>
                <ul class="dd-list">
                    <li class="dd-item">Profile</li>
                    <li class="dd-item">log out</li>
                </ul>
            </div>
        </header>
        <main class="main_view">
            <div id="postCreate" class="post-create">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="postTitle" type="text" class="validate" length="32">
                        <label for="postTitle">Title</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="date" id="postDate" placeholder="set date  " class="datepicker">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="postDescription" class="materialize-textarea" length="500"></textarea>
                        <label for="postDescription">Description</label>
                    </div>
                </div>
                <span class="waves-effect waves-light btn">Create post</span>
                <!--<div class="row">-->
                    <!--<div id="getTagContainer"></div>-->
                    <!--<div id="createTagContainer">-->
                        <!--<div class="input-field col s6">-->
                            <!--<input id="tagName" type="text" class="validate" length="16">-->
                            <!--<label for="tagName">Tag name</label>-->
                        <!--</div>-->
                        <!--<div class="input-field col s6">-->
                            <!--<ul id="choseTagColor" class="color-list">-->
                                <!--<li class="color-item" data-color=""></li>-->
                                <!--<li class="color-item" data-color=""></li>-->
                                <!--<li class="color-item" data-color=""></li>-->
                                <!--<li class="color-item" data-color=""></li>-->
                                <!--<li class="color-item" data-color=""></li>-->
                                <!--<li class="color-item" data-color=""></li>-->
                                <!--<li class="color-item" data-color=""></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <div id="postView"></div>
        </main>
    </div>
</div>

<script id="postTemplate" type="text/template">
    <div class="post-header">
        <div class="options-wrap">
        <span class="options-btn">
            <span></span>
            <span></span>
            <span></span>
        </span>
            <div class="options-list post-actions">
                <span class="editPost fa fa-pencil"></span>
                <span class="savePost fa fa-check hide"></span>
                <span class="deletePost fa fa-trash"></span>
            </div>
        </div>
        <h3 class="post-title"><%= title %></h3>
    </div>
    <div class="post-info">
        <p class="post-date"><%= postDate %></p>
        <div class="infoWrap post-description-wrap">
            <p class="post-description" contenteditable="false"><%= description %></p>
            <div class="showMore btn-show-more">show more</div>
        </div>
    </div>
    <img src="<%= imagePath %>" class="post-image" alt="<%= title %>">
    <div class="tag-container">
        <ul class="tag-list">
            <%tags.forEach(function (tag){%>
            <li class="tag-item"><%= tag %></li>
            <% }); %>
        </ul>
    </div>
</script>

<script type="text/javascript" src="js/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="js/libs/underscore/underscore-min.js"></script>
<script type="text/javascript" src="js/libs/backbone/backbone-min.js"></script>
<script type="text/javascript" src="js/app/models/postModel.js"></script>
<script type="text/javascript" src="js/app/views/postItemView.js"></script>
<script type="text/javascript" src="js/app/views/postListView.js"></script>
<script type="text/javascript" src="js/app/collections/postsCollection.js"></script>
<script type="text/javascript" src="js/app/app.js"></script>
<script type="text/javascript" src="js/libs/materialize/dist/js/materialize.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>