html, body {
  height: 100%;
}

body {
  background-color: #d0d6e2;
}

.wrapper {
  display: flex;
  height: 100%;
  background-color: #edeef3;
  box-shadow: 30px 30px 80px rgba(0,0,0,0.30),
  20px 20px 42px rgba(0,0,0,0.22);
}

.sidebar {

  &_wrap {
    flex-shrink: 0;
    width: 220px;
    background-color: #2c2c2c;
  }

  .nav-list {
    padding: 0;
    margin: 0;
    margin-top: 40px;
    background: linear-gradient(to right, #393e41, #303233);
    font-family: 'ubuntu light';
    list-style-type: none;
  }

  .nav-item {
    background: linear-gradient(to right, #34393d, #2c2e30);
    line-height: 40px;
    padding: 0 15px;
    transition: background .2s ease;

    &:hover {
      background: linear-gradient(to right, #3a3f41, #323435);
    }

    &.is-active {
      background: linear-gradient(to right, rgba(0, 136, 204, 0.16), rgba(0, 136, 204, 0.26));
      border-right: 3px solid #0088cc;
    }

    + .nav-item {
      margin-top: 2px;
    }

    > a {
      color: #868788;
    }
  }
}

.main {
  &-header {
    flex-shrink: 0;
    height: 40px;
    width: 100%;
    background: #2c2c2c;
  }

  &_wrap {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #232323;
  }

  &_view {
    flex-grow: 1;
    padding: 15px;
    box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.20),
    inset 5px 5px 10px rgba(0, 0, 0, 0.10);
    overflow: auto;
  }
}